[submodule "sub/group-a/hello1"]
	path = sub/group-a/hello1
	url = https://github.com/githubtraining/hellogitworld.git
	update = none
[submodule "sub/group-a/nested/hello2"]
	path = sub/group-a/nested/hello2
	url = https://github.com/githubtraining/hellogitworld.git
	branch = bisect
[submodule "sub/group-b/hello3"]
	path = sub/group-b/hello3
	url = https://github.com/githubtraining/hellogitworld.git
	update = none
[submodule "sub/group-b/nested/hello4"]
	path = sub/group-b/nested/hello4
	url = https://github.com/githubtraining/hellogitworld.git
	branch = bisect
[submodule "games"]
	path = sub/group-a/github-games
	url = https://github.com/githubtraining/github-games
	branch = game-instructions
